html {
	--text-color-primary: #1b1b1b;
	--text-color-secondary: #313131;
	--border-color: #bdbdbd;
}

body {
    font-family: 'dm sans', 'lato', 'helvetica neue', sans-serif !important;
}

* {
	box-sizing: border-box;
}

.action-special {
	border-radius: 50px;
	background-color: var(--text-color-primary);
	text-decoration: none;
	color: #fff;
	border: none;
	padding: 10px 20px;
	display: inline-block;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-size-1 {
	font-size: 16px !important;
}

.text-size-2 {
	font-size: 18px !important;
}

.text-size-3 {
	font-size: 21px !important;
}

.text-size-4 {
	font-size: 23px !important;
}

.text-size-5 {
	font-size: 25px !important;
}

.text-size-6 {
	font-size: 28px !important;
}

.margin-b-0 {
	margin-bottom: 0;
}